.quackWrapper4 {
  background-color:blueviolet;
  padding-bottom: 20px;
}

.sec4 {
border-radius: 5px;
padding: 20px;
background-color:lavender;
margin: 10px;
}

a {
color: black;
}

.center {
display: flex;
margin: auto;
}

.min {
min-height: 70vh;
}

h4 {
margin-top: 2vh;
}
body
{   
  padding-bottom:0;
  min-height: 100%;
}
html { height: 100% }